.features {
    &-section {
        padding: 60px 0;
    }
}

.list-item {
    width: 450px;
    height: 226px;
    
    &::before {
        display: block;
        content: "";
        height: 120px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f5f4fA;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}

.icon {
    &-antenna::before {
        background-image: url("../images/antenna.svg");
    }

    &-clock::before {
        background-image: url("../images/clock.svg");
    }

    &-diagram::before {
        background-image: url("../images/diagram.svg");
    }

    &-austronaut::before {
        background-image: url("../images/austronaut.svg");
    }
}

.features {
    &-subtitle {
        text-align: center;
        margin-left: 90px;
        margin-bottom: 10px;
        width: 270px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $the-text-color-of-subtitle;
    }

    &-text {
        width: 450px;
        height: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .list-item:not(:last-child) {
        margin-bottom: 30px;
    }    
}

@media screen and (min-width: 480px) {
    .features {
        &-subtitle {
            margin-left: 90px;
            margin-bottom: 10px;
        }
    }
    
}

@media screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .list-item {
        width: 354px;
    }

    .list-item:not(:nth-last-child(-n+2)) {
        height: 251px;
        margin-bottom: 30px;
    }

    .features {
        &-subtitle {
            margin-left: 0;
            text-align: start;
        }

        &-text {
            width: 354px;
            height: 75px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .features-section {
        padding: 94px 0;
    }

    .list-item {
        width: 270px;
    }

    .features {
        &-text {
            width: 270px;
        }
    }
}