.logo {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.02em;
    color: $accent-color;
    
    &-text-header {
        color: $logo-text-header;
    } 

    .footer & {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-white {
        color: $logo-text-footer;
    }   
}

@media screen and (min-width: 768px) {
    .logo {
        .header & {
            margin-right: 88px;
        }

        .footer & {
            margin-left: 100px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        .header & {
            margin-right: 93px;
        }

        .footer & {
            text-align: start;
            margin-left: 0;
        }
    }
}