.social-list-link-light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}
 
.social-list-svg-light {
    width: 20px;
    height: 20px;
    fill: $color-svg;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list-link-light:hover &,
    .social-list-link-light:focus & {
        fill: #fff;
    }
}
