$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-text-color: #757575;
$the-text-color-of-subtitle: #212121;
$accent-color: #2196F3;
$footer-color-item:  rgba(255, 255, 255, 0.6);
$footer-color-item-address: #fff;
$background-footer: #2F303A;
$background-section: #F5F4FA;
$logo-text-footer: #fff;
$logo-text-header: #000;
$color-svg: #afb1b8;